Import libraries

In [33]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import requests

Import table from URL and create PANDAS

In [34]:
rst = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", headers=header)
table = pd.read_html(rst.text)
df=pd.DataFrame(table[0])
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [35]:
#Assign columns: PostalCode, Borough, and Neighborhood
df.columns=['Postcode','Borough','Neighbourhood']
df.drop([0],axis=0,inplace=True)
df.reset_index()
df.head()

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [36]:
# Remove rows with "Not assigned" in "Borough" column
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the example table.

In [37]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [38]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']
df1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [39]:
df1.shape

(103, 2)