Import libraries

In [81]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import requests

Import table from URL and create PANDAS

In [82]:
rst = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", headers=header)
table = pd.read_html(rst.text)
df=pd.DataFrame(table[0])
df.head()

          0             1                 2
0  Postcode       Borough     Neighbourhood
1       M1A  Not assigned      Not assigned
2       M2A  Not assigned      Not assigned
3       M3A    North York         Parkwoods
4       M4A    North York  Victoria Village

In [83]:
#Assign columns: PostalCode, Borough, and Neighborhood
df.columns=['Postcode','Borough','Neighbourhood']
df.drop([0],axis=0,inplace=True)
df.reset_index()
df.head()

  Postcode           Borough     Neighbourhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [84]:
# Remove rows with "Not assigned" in "Borough" column
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront
6      M5A  Downtown Toronto       Regent Park
7      M6A        North York  Lawrence Heights

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the example table.

In [92]:
df1=df.groupby("Postcode").agg(lambda x:','.join(set(x)))
df1

                   Borough                                      Neighbourhood
Postcode
M1B            Scarborough                                      Malvern,Rouge
M1C            Scarborough               Highland Creek,Rouge Hill,Port Union
M1E            Scarborough                    West Hill,Morningside,Guildwood
M1G            Scarborough                                             Woburn
M1H            Scarborough                                          Cedarbrae
M1J            Scarborough                                Scarborough Village
M1K            Scarborough          Ionview,Kennedy Park,East Birchmount Park
M1L            Scarborough                      Clairlea,Golden Mile,Oakridge
M1M            Scarborough      Cliffcrest,Scarborough Village West,Cliffside
M1N            Scarborough                         Birch Cliff,Cliffside West
M1P            Scarborough  Scarborough Town Centre,Wexford Heights,Dorset...
M1R            Scarborough                                   Wexford,Maryvale
M1S            Scarborough                                          Agincourt
M1T            Scarborough              Sullivan,Clarks Corners,Tam O'Shanter
M1V            Scarborough  Steeles East,Agincourt North,L'Amoreaux East,M...
M1W            Scarborough                                    L'Amoreaux West
M1X            Scarborough                                        Upper Rouge
M2H             North York                                  Hillcrest Village
M2J             North York                         Henry Farm,Oriole,Fairview
M2K             North York                                    Bayview Village
M2L             North York                            Silver Hills,York Mills
M2M             North York                             Newtonbrook,Willowdale
M2N             North York                                   Willowdale South
M2P             North York                                    York Mills West
M2R             North York                                    Willowdale West
M3A             North York                                          Parkwoods
M3B             North York                                    Don Mills North
M3C             North York                    Don Mills South,Flemingdon Park
M3H             North York      Downsview North,Bathurst Manor,Wilson Heights
M3J             North York                     Northwood Park,York University
...                    ...                                                ...
M6C                   York                                 Humewood-Cedarvale
M6E                   York                                Caledonia-Fairbanks
M6G       Downtown Toronto                                           Christie
M6H           West Toronto                        Dufferin,Dovercourt Village
M6J           West Toronto                            Trinity,Little Portugal
M6K           West Toronto         Parkdale Village,Exhibition Place,Brockton
M6L             North York                   Downsview,Upwood Park,North Park
M6M                   York        Del Ray,Keelesdale,Mount Dennis,Silverthorn
M6N                   York                       The Junction North,Runnymede
M6P           West Toronto                       The Junction South,High Park
M6R           West Toronto                              Roncesvalles,Parkdale
M6S           West Toronto                                  Runnymede,Swansea
M7A           Queen's Park                                       Not assigned
M7R            Mississauga              Canada Post Gateway Processing Centre
M7Y           East Toronto  Business Reply Mail Processing Centre 969 Eastern
M8V              Etobicoke         Humber Bay Shores,New Toronto,Mimico South
M8W              Etobicoke                              Alderwood,Long Branch
M8X              Etobicoke        Montgomery Road,Old Mill North,The Kingsway
M8Y              Etobicoke  Humber Bay,Old Mill South,The Queensway East,M...
M8Z              Etobicoke  South of Bloor,Royal York South West,The Queen...
M9A              Etobicoke                                   Islington Avenue
M9B              Etobicoke  Cloverdale,Princess Gardens,West Deane Park,Is...
M9C              Etobicoke  Bloordale Gardens,Markland Wood,Eringate,Old B...
M9L             North York                                      Humber Summit
M9M             North York                                    Humberlea,Emery
M9N                   York                                             Weston
M9P              Etobicoke                                          Westmount
M9R              Etobicoke  St. Phillips,Martin Grove Gardens,Richview Gar...
M9V              Etobicoke  Thistletown,Jamestown,South Steeles,Mount Oliv...
M9W              Etobicoke                                          Northwest

[103 rows x 2 columns]

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [86]:
df1.loc[df1['Neighbourhood']=="Not assigned",'Neighbourhood']=df1.loc[df1['Neighbourhood']=="Not assigned",'Borough']
df1.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae

In [87]:
#get df size
df1.shape

(103, 2)

In [88]:
# Import os library to interface with the underlying operating system that Python is running on
import os
#import csv as df
df_csv = pd.read_csv('/Users/efederzoni/Desktop/Geospatial_Coordinates.csv')
df_csv.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [89]:
df_csv.shape

(103, 3)

In [93]:
df_merge = pd.merge(df, df_csv)
df_merge=df_merge.groupby("Postcode").agg(lambda x:','.join(set(x)))
df_merge.head()

              Borough                         Neighbourhood
Postcode
M1B       Scarborough                         Malvern,Rouge
M1C       Scarborough  Highland Creek,Rouge Hill,Port Union
M1E       Scarborough       West Hill,Morningside,Guildwood
M1G       Scarborough                                Woburn
M1H       Scarborough                             Cedarbrae